form {
  text-align: right;
  font-family: "Noto Naskh Arabic", serif;
  font-size: 20px;
}

#fname,
#faddress {
  direction: rtl;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

#mainImgCon {
  height: 350px;
  width: 300px;
  margin-bottom: 20px;
  display: block;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.slide {
  position: absolute;
  transition: all 0.5s;
  margin: 0;
}

.slide img {
  object-fit: cover;
}

.btn {
  cursor: pointer;
  font-size: 18px;
}

.mainImgStyle {
  height: 175px;
  width: 175px;
}

#first-row {
  height: 570px;
  width: 300px;
  margin: auto;
}

#field-two {
  margin: auto;
}

.carousel-inner {
  width: 175px;
}
